@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: #222;
            color: white;
            font-family: Arial;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .box {
            width: 300px;
        }

        input, button {
            width: 100%;
            margin: 10px 0;
            padding: 10px;
            border-radius: 20px;
            border: none;
        }

        button {
            background: blue;
            color: white;
        }
    </style>
</head>
<body>

    <div class="box">
        <h2>Đăng ký</h2>

        <form method="post">
            <input name="username" placeholder="Tài khoản" />
            <input name="password" type="password" placeholder="Mật khẩu" />

            <button>Đăng ký</button>
        </form>

        <p>@ViewBag.Error</p>
    </div>

</body>
</html>